name: Deploy Edge Functions

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_PROJECT_ID: dssbduklgbmxezpjpuen

    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase functions deploy notify-new-show --project-ref $SUPABASE_PROJECT_ID
      - run: supabase functions deploy create-paymongo-session --project-ref $SUPABASE_PROJECT_ID
      - run: supabase functions deploy paymongo-webhook --project-ref $SUPABASE_PROJECT_ID
