name: Deploy Edge Functions

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_PROJECT_ID: dssbduklgbmxezpjpuen

    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: |
          supabase functions deploy --project-ref $SUPABASE_PROJECT_ID
          supabase functions deploy create-paymongo-session --no-verify-jwt --project-ref $SUPABASE_PROJECT_ID
          supabase functions deploy paymongo-webhook --no-verify-jwt --project-ref $SUPABASE_PROJECT_ID
          supabase functions deploy verify-paymongo-payment --no-verify-jwt --project-ref $SUPABASE_PROJECT_ID
